body {
    background-color: rgb(6,42,67);
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    padding-bottom: 50px;
}
#titlepage {
    background-image: url(millhacksbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 0;
    height: 100vh;
    display: block;
}

#titlecontainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    font-size: 20px;
    height: 60px;
}
nav:hover{
    box-shadow: 0px 5px 15px black;
}
.navbutton{
    float: right;
    color: gray;
    padding: 15px;
    padding-inline: 25px;
}
a .navbutton:hover{
    background-color: rgba(0, 255, 255, 0.3);
}
a .navbutton{
    color: black;
}
a:hover{
    opacity: 50%;
}
#schedule{
    background-image: linear-gradient(to bottom, #275477, #072A44);
}
h1, h2, h5, p, .btn, .btn:hover{
    color: white;
}
h1{
    font-size: 100px;
}
h2 {
    font-size: 50px;
}
p{
    font-size: 20px
}
#container{
    margin-inline: 50px;
}
.card-header, .card{
    background-color: transparent;
    border: none;
}
.card-header{
    border-bottom: 1px white solid;
    color: white;
}
.card-body{
    color: white;
    font-family: "Archivo";
    font-weight: lighter;
}
