body {
    background-color: rgb(6,42,67);
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    padding-bottom: 50px;
    height: 100vh;
    overflow-x: hidden;
}
#titlepage{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: relative;
}
#titleforeground {
    margin: 0;
    height: 100vh;
    display: block;
    box-shadow: inset 0px -50px 35px 0px #062a43;
}
#titlecontainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
#titleinner{
    display: block;
    transform:translateY(-5%);
}
.title{
    animation: textRotate 18s infinite ease-in-out;
}
nav{
    font-size: 125%;
    height: 60px;
    padding: 0%;
}
nav:hover{
    box-shadow: 0px 5px 15px black;
}

.navbutton{
    float: right;
    color: gray;
    padding: 15px;
    padding-inline: 25px;
}
a .navbutton:hover{
    background-color: rgba(0, 255, 255, 0.3);
}
a .navbutton{
    color: #82c7d0;
}

#schedule{
    background-image: linear-gradient(to bottom, #275477, #072A44);
}

#container{
    margin-inline: 15vw;
}

h1, h2, h5, p, .btn, .btn:hover{
    color: white;
}
h1{
    font-size: 100px;
}
h2 {
    font-size: 50px;
}
p{
    font-size: 20px;
    font-weight: lighter;
}
.card-header, .card{
    background-color: transparent;
    border: none;
}
.card-header{
    border-bottom: 1px white solid;
    color: white;
}
.card-body{
    color: white;
    font-family: "Archivo";
    font-weight: lighter;
}
.interestbutton{
    font-size: 20px;
    padding: 12px;
    border-radius: 15px;
    background-color: #82C7CE;
    border: #186076 2px solid;
    transition: transform 0.6s;
}
.interestbutton:hover{
    transform: scale(1.2);
    opacity: 70%;
}

.star-container {
    background-image: url(millhacksbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-position-x: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -5;
}
.star {
    position: absolute;
    background-color: white;
    transform: rotate(45deg);
    opacity: 0;
    animation: twinkle 2s infinite ease-in-out;
}

@media (max-width: 480px){
    .star-container{
        background-image: url(squarebg.png);
    }

    nav{
        display: flex;
        justify-content: center;
    }

    .navbutton{
        display: inline-block;
        padding-inline: 10px;
    }

    h1{
        font-size: 70px;
    }

    h2{
        font-size: 40px;   
    }

    #container{
        margin-inline: 7vw;
    }
}
@keyframes twinkle {
    0%, 100% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
}

@keyframes textRotate {
  0% {text-shadow: cyan 9px 9px 50px;}
  25% {text-shadow: #0bdaa6 10px -10px 80px;}
  70% {text-shadow:  #ebf561 -15px -11px 100px;}
  75% {text-shadow: #0bdaa6 -10px 10px 80px;}
  100% {text-shadow: cyan 9px 9px 50px;}
}

#ig.interestbutton{
    background-color: #ffb3d4;
    border-color: #FF6DAC;
}

#ig.navbutton{
}

.exec-card{
    border-radius: 15px;
    height: fit-content;
    width: 420px;
    border: 2px solid white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: rgb(0, 255, 255, 0.15);
}

.exec-card:hover{
    background-color: rgb(255, 255, 255, 0.25);
}

.exec-pfp{
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 100%;
    border: 2px solid white;
    background-image: url(pfps/default_pfp.png);
    background-position: center;
    background-size: cover;
    margin-right: 15px;
    border-width: 3px;
}

.exec-info{
    margin-right: 15px;
}

.exec-desc{
    color: lightgray;
    font-style: italic;
    font-weight: 100;
    width: 200px;
    font-size: 15px;
    margin-bottom: 0px;
}

#kushagra.exec-card{
    background-image: linear-gradient(90deg, #349beb 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
}
#kushagra{
    border-color: #349beb;
    color: #349beb;
}
#kushagra.exec-pfp{
    background-image: url(pfps/kushagra.png);
}
#neil.exec-card{
    background-image: linear-gradient(90deg, #E2B100 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
}
#neil{
    border-color: #E2B100;
    color: #E2B100;
}
#neil.exec-pfp{
    background-image: url(pfps/neil.jpg);
    background-position-y: -20px;
}
#ibrahim.exec-card{
    background-image: linear-gradient(90deg, #ff7300 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
}
#ibrahim{
    border-color: #ff7300;
    color: #ff7300;
}
#ibrahim.exec-pfp{
    background-image: url(pfps/ibrahim.png);
}
#ali.exec-card{
    background-image: linear-gradient(90deg, #c2000a 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
}
#ali{
    border-color: #c2000a;
    color: #c2000a;
}
#ali.exec-pfp{
    background-image: url(pfps/ali.png);
}
#yasin.exec-card{
    background-image: linear-gradient(90deg, #00C621 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
}
#yasin{
    border-color: #00C621;
    color: #00C621;
}
#yasin.exec-pfp{
    background-image: url(pfps/yasin.png);
}
#swarit.exec-card{
    background-image: linear-gradient(90deg, #9637f6 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
}
#swarit{
    border-color: #9637f6;
    color: #9637f6;
}
#swarit.exec-pfp{
    background-color: #9637f6;
}

#sponsors-container{
    margin: 20px;
    display: block;
}

.sponsor{
    margin: 10px;
    transition: transform 0.6s;
}

.bronze-sponsor{
    height: 100px;
}

.subtitle{
    font-size: 36px;
    font-style: italic;
}

#sponsorship-package{
    width: 20vw;
    height: 50vh;
}

#sidenav-container {
    display: none;
}

.partner{
    margin: 20px;
    height: 210px;
    transition: transform 0.6s;
}

.partner:hover, .sponsor:hover{
    transform: scale(0.8);
}

@media (max-width: 600px){
    .exec-card{
        width: 100%;
    }

    .exec-pfp{
        width: 50px;
        height: 50px;
    }

    p{
        margin-bottom: 5px;
    }
}
