body {
    background-color: rgb(6,42,67);
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Archivo Black", sans-serif;
    font-weight: bold;
    padding-bottom: 50px;
}
#titlepage {
    background-image: url(millhacksbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin: 0;
    height: 910px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, h2, h5, p, .btn, .btn:hover{
    color: white;
}
h1{
    font-size: 100px;
}
h2 {
    font-size: 50px;
}
p{
    font-size: 20px
}
#container{
    margin-inline: 50px;
}
.card-header, .card{
    background-color: transparent;
    border: none;
}
.card-header{
    border-bottom: 1px white solid;
    color: white;
}
.card-body{
    color: white;
    font-family: "Archivo";
    font-weight: lighter;
}
